<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.task.mapper.QrtzTriggersHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.forezp.modules.task.entity.QrtzTriggersHistory">
    <result column="id" property="id" />
    <result column="update_by" property="updateBy" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="trigger_name" property="triggerName" />
        <result column="group_id" property="groupId" />
        <result column="params" property="params" />
        <result column="result" property="result" />
        <result column="create_by" property="creteBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        update_by,
        create_time,
        update_time,
        trigger_name, group_id, params, result, create_by
    </sql>

    <select id="getQrtzCronTriggersPagelist" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from qrtz_triggers_history
        <where>
            <if test="groupId != null and groupId!='' ">
                a.TRIGGER_GROUP = #{groupId}
            </if>

            <if test="triggerName != null and triggerName!='' ">
                AND a.TRIGGER_NAME = #{triggerName}
            </if>
        </where>

    </select>

</mapper>
