<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.task.mapper.QrtzTriggersGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.forezp.modules.task.entity.QrtzTriggersGroup">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        create_by,
        update_by,
        group_id, group_name
    </sql>


    <select id="getTriggerGroupPagelist" resultMap="BaseResultMap">
        select * from qrtz_triggers_group
        <where>
            <if test="groupId != null and groupId!='' ">
                group_id = #{groupId}
            </if>

            <if test="groupName != null and groupName!='' ">
                AND group_name = #{groupName}
            </if>
        </where>
    </select>

</mapper>
