<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.system.mapper.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.forezp.modules.system.entity.SysDictType">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="type_id" property="typeId" />
        <result column="type_name" property="typeName" />
        <result column="type_describe" property="typeDescribe" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        type_id, type_name, type_describe, remarks
    </sql>

    <select id="selectPageSysLog" resultType="io.github.forezp.modules.system.entity.SysDictType">
        SELECT <include refid="Base_Column_List"></include> from sys_dict_type
        <where>
            <if test="typeId != null and typeId!='' ">
                type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName!='' ">
                AND type_name = #{typeName}
            </if>
        </where>
    </select>

</mapper>
