<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.system.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.forezp.modules.system.entity.SysLog">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="method" property="method" />
        <result column="url" property="url" />
        <result column="ip" property="ip" />
        <result column="request" property="request" />
        <result column="resonse_code" property="resonseCode" />
        <result column="response" property="response" />
        <result column="request_id" property="requestId" />
        <result column="duration" property="duration" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        method, url, ip, request, resonse_code, response,request_id,duration
    </sql>

    <select id="selectPageSysLog" resultType="io.github.forezp.modules.system.entity.SysLog">
        SELECT * from sys_log
        <where>
            <if test="createBy != null and createBy!='' ">
                create_by = #{createBy}
            </if>

            <if test="method != null and method!='' ">
                AND method = #{method}
            </if>

            <if test="beginTime != null and beginTime != ''">AND create_time <![CDATA[>=]]> #{beginTime}</if>
            <if test="endTime != null and endTime != ''">AND create_time <![CDATA[<=]]>#{endTime}</if>

        </where>
    </select>
</mapper>
