<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.system.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.forezp.modules.system.entity.SysOrg">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="update_by" property="updateBy" />
        <result column="simple_name" property="simpleName" />
        <result column="full_name" property="fullName" />
        <result column="org_id" property="orgId" />
        <result column="pid" property="pid" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="sort_no" property="sortNo" />
        <result column="level" property="level" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        update_by,
        simple_name, full_name, org_id, pid, status, create_by, sort_no, level, remarks
    </sql>

</mapper>
