<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.forezp.modules.system.mapper.SysPermissionMapper">


    <select id="selectUserPermissons" parameterType="string"
            resultType="string">

     SELECT p.permission from sys_permission p left JOIN
     sys_role_permission rp ON p.permission_id =rp.permission_id
     left JOIN sys_role r ON rp.role_id=r.role_id
     left JOIN sys_user_role ur ON r.role_id=ur.role_id
     left JOIN sys_user u on u.user_id=ur.user_id where
      u.user_id=#{user_id}
    </select>


</mapper>

